@charset "utf-8";

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgb(117, 117, 117);
    overflow: hidden;
    background: none;
}

:focus {
    border: none;
    outline: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"] {
    border: solid 1px #bbb;
    border-radius: 4px;
    line-height: 130%;
    padding: 2px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 0;
    will-change: margin-left;
    transition-duration: .2s;
    transition-property: margin-left;
}

.main-shrunk {
    margin-left: 300px;
}

.ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    transform: translateX(0px);
    height: 100%;
    min-height: 100%;
    background: #fafafa;
    box-shadow: 3px 0 3px 0 #999;
    will-change: transform;
    transition-duration: .2s;
    transition-property: transform;
    z-index: 10;
}

.ui h4 {
    padding: 1em;
    margin: 0;
    background: #eaeaea;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    line-height: 27px;
}

.ui-hidden {
    transform: translateX(-310px);
}

.ui-controls {
    padding: 1em;
}

.bars {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    font-size: 21px;
    line-height: 27px;
    z-index: 11;
}

.range-container {
    width: 60%;
    height: 24px;
    padding: 1em;
    flex: 0 1 auto;
    z-index: 1;
}

.canvas-placeholder {
    flex: 1 1 auto;
    align-self: stretch;
}

.legend-container {
    width: 400px;
    height: 44px;
    padding: 0;
    flex: 0 1 auto;
}

#legend {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.param-container {
    padding: 0.5em 0.5em;
}

.param-slider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.param-input {
    width: 30px;
    float: right;
}

.param-switch {
    width: 50px;
    float: right;
    margin-top: 0.5ex;
}

.noUi-target {
    margin-left: 1em;
    margin-right: 1em;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-handle {
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    height: 20px;
}

.noUi-handle:before {
    height: 6px;
}

.noUi-handle:after {
    height: 6px;
}

.noUi-connect {
    box-shadow: none;
}

.noUi-tooltip {
    padding: 0;
    border: none;
    color: rgb(117, 117, 117);
}

.noUi-horizontal .noUi-tooltip {
    bottom: auto;
    top: 120%;
    width: 100px;
    line-height: 100%;
}

.mdl-slider__container {
    margin-top: 4px;
}

.mdl-slider__background-flex {
    margin: 0 6px;
    width: calc(100% - 12px);
}

.mdl-slider {
    margin: 0;
}

.colorselector {
    float: right;
    width: 140px;
    margin-top: -0.5ex;
}

select {
  width:100%;
  border: 1px solid #bbb;
  padding:.75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  background-color:white;
  background-image:url(select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
}

select:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

select:focus {
    border: 1px solid #bbb;
}